*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    /* background-color: red; */
}

main{
    /* background-color: cadetblue; */
    width: 100%;
}

.sect1{
    width: 100%;
    height: 946px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
} 

.art1{
    width: 65%;
    height: 946px;
    /* background-color: yellow; */
}

header{
    /* background-color: #36CDCC; */
    height: 110px;
    width: 100%;
    margin-bottom: 160px;
}

nav{
    /* background-color: plum; */
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: row;
    align-items: center;
}

img{
    height: 60px;
    width: 60px;
    margin-left: 60px;
    margin-right: 70px;
}

ul{
    /* background-color: purple; */
    flex-direction: row;
    height: 33px;
    justify-content: center; 
    list-style: none;
    align-items: center;
    display: flex;
    width: 80%;
}

nav ul li{
    font-size: 25px;
    margin-right: 100px;
    font-weight: bold;
}

.off{
    text-decoration: overline;
    color: #e26062;
}
.aa1{
    display: flex;
    flex-direction: row;
}

.art01{
    height: 480px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.h22{
    /* font-weight: bold; */
    font-size: 15px;
    text-decoration: underline;
    margin-bottom: 12px;
    
}

.p1{
    color: #e26062;
    text-decoration: underline;
}

.art02{
    /* background-color: #fa0054; */
    height: 480px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.art02 img{
    height: 700px;
    width: 800px;
}

.art2{
    width: 35%;
    height: 946px;
    background-color: #F95F62;
}

.art002h{
    width: 100%;
}

button{
    width: 20%;
    height: 5%;
}